@media (max-width: 768px) {
    .header_nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #000;
        transform: translateY(-150%);
        transition: transform 0.3s ease;
        text-align: center;

        .header_nav_list {
            flex-direction: column;
            gap: 20px;
            padding: 20px 0;
        }
    }

    .header_nav.active {
        transform: translateY(0);
    }

    .burger {
        display: flex;
    }

    .burger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .burger.active span:nth-child(2) {
        opacity: 0;
    }
    .burger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}