* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: black;
}

nav ul li {
  position: relative;
}
nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover {
  font-family: "Poppins", sans-serif;
}
nav ul li:after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: grey;
  margin-top: 10px;
  transition: 0.4s;
}
nav ul li:hover::after {
  width: 100%;
}
nav ul li ul li:after {
  display: none;
  width: auto;
}
nav ul li ul li:hover::after {
  width: auto;
}

header .container {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .container nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin-left: 400px;
}
header .container .logo_header {
  max-width: 100%;
}
header .container nav ul li {
  margin-bottom: 35px;
  margin-top: 35px;
}

.hero_section {
  position: relative;
  background-image: url("../img/first-img.jpg");
  background-size: cover;
  height: calc(100vh - 90px);
  width: 100%;
  background-repeat: no-repeat;
  margin-bottom: 120px;
}
.hero_section .hero_container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  height: 90vh;
}
.hero_section h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #c0c0c0;
}
.hero_section h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 54px;
  text-align: center;
  color: #ffffff;
}
.hero_section p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #c0c0c0;
}
.hero_section .hero_icons {
  position: absolute;
  bottom: 41px;
  right: 40px;
}
.hero_section a {
  display: inline-block;
}

.gallery_section {
  background-color: #000000;
  margin-bottom: 100px;
  height: 1338px;
}
.gallery_section .container-gallery {
  max-width: 1200px;
  margin: 0 auto;
}
.gallery_section .gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery_section .text {
  margin-bottom: 40px;
}
.gallery_section h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}
.gallery_section p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #c0c0c0;
}
.gallery_section h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.gallery img {
  width: 576px;
  height: 600px;
}

.gallery_image {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.gallery_first {
  position: relative;
}

.gallery_text1 {
  position: absolute;
  bottom: 69px;
  left: 30px;
}
.gallery_text1 .read_more {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  padding: 8px 16px;
  background-color: #fff;
  color: #000;
  border-radius: 14px;
  align-items: center;
  font-weight: 400;
  position: relative;
  top: 20px;
  left: 0;
  text-decoration: none;
}
.gallery_text1 .read_more .read_img {
  width: 20px;
  height: 20px;
}

.gallery_text2 {
  position: absolute;
  bottom: 82px;
  left: 30px;
}
.gallery_text2 .read_more {
  font-family: "Poppins", sans-serif;
  padding: 8px 16px;
  background-color: #fff;
  color: #000;
  border-radius: 14px;
  align-items: center;
  font-weight: 400;
  position: relative;
  top: 20px;
  left: 0;
  text-decoration: none;
}
.gallery_text2 .read_more .read_img {
  width: 20px;
  height: 20px;
}
.gallery_text2 .read_more .read_more:hover {
  cursor: pointer;
}

.gallery_text3 {
  position: absolute;
  bottom: 82px;
  left: 30px;
}
.gallery_text3 .read_more {
  font-family: "Poppins", sans-serif;
  padding: 8px 16px;
  background-color: #fff;
  color: #000;
  border-radius: 14px;
  align-items: center;
  font-weight: 400;
  position: relative;
  top: 20px;
  left: 0;
  text-decoration: none;
}
.gallery_text3 .read_more .read_img {
  width: 20px;
  height: 20px;
}

.gallery_text4 {
  position: absolute;
  bottom: 82px;
  left: 30px;
}
.gallery_text4 .read_more {
  font-family: "Poppins", sans-serif;
  padding: 8px 16px;
  gap: 6px;
  background-color: #fff;
  color: #000;
  border-radius: 14px;
  align-items: center;
  font-weight: 400;
  transition: 0.3s ease;
  position: relative;
  top: 20px;
  left: 0;
  text-decoration: none;
}
.gallery_text4 .read_more .read_img {
  width: 20px;
  height: 20px;
}

.header_nav_list li.last_li a {
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border-radius: 14px;
  align-items: center;
  text-align: center;
  font-weight: 400;
  transition: 0.3s ease;
}

.header_nav_list li.last_li a:hover {
  background-color: #ffffff;
  color: #000;
}

.gallery_image p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #c0c0c0;
}

.sunset_section {
  position: relative;
  background-image: url("../img/sunset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}
.sunset_section .container {
  max-width: 1200px;
  margin: 0 auto;
}
.sunset_section h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #ffffff;
}
.sunset_section p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
}
.sunset_section .sunset {
  position: absolute;
  top: 260px;
  right: 20px;
}
.sunset_section .slider {
  position: absolute;
  bottom: 41px;
  right: 40px;
}
.sunset_section a {
  display: inline-block;
}

.about_section {
  position: relative;
  background-color: black;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 540px;
}
.about_section .container {
  max-width: 1200px;
  margin: 0 auto;
}
.about_section .about {
  padding-top: 173px;
  padding-right: 100px;
}
.about_section h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #c0c0c0;
}
.about_section h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 114%;
  color: #ffffff;
}
.about_section p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #ffffff;
}
.about_section .check {
  font-family: "Poppins", sans-serif;
  padding: 6px 16px;
  background-color: #fff;
  color: #000;
  border-radius: 14px;
  align-items: center;
  font-weight: 400;
  position: relative;
  top: 20px;
  left: 0;
  text-decoration: none;
}
.about_section .check .check_img {
  width: 20px;
  height: 20px;
}
.about_section .check:hover {
  background-color: #ffffff;
  color: #000;
}
.about_section .back-img {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
}
.about_section .back-img img {
  width: 100%;
}
.about_section .about-right {
  position: absolute;
  bottom: 41px;
  right: 40px;
}
.about_section .about-right a {
  display: inline-block;
}

.slider1_section {
  position: relative;
  background-image: url("../img/plant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  overflow: hidden;
}
.slider1_section .container {
  max-width: 1200px;
  margin: 0 auto;
}
.slider1_section .slider-1-text {
  position: absolute;
  top: 280px;
  right: 87px;
}
.slider1_section h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #ffffff;
}
.slider1_section p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
}
.slider1_section .slider-1-img {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.slider1_section a {
  display: inline-block;
}

.clients_section {
  position: relative;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.clients_section .container {
  max-width: 1200px;
  margin: 0 auto;
}
.clients_section .clients-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}
.clients_section h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 105%;
  text-align: center;
  color: #fff;
}
.clients_section p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: #c0c0c0;
}
.clients_section .clients_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 109px;
  margin-top: 180px;
}

.slider2_section {
  position: relative;
  background-image: url("../img/Mounts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}
.slider2_section .container {
  max-width: 1200px;
  margin: 0 auto;
}
.slider2_section .slider-2-text {
  position: absolute;
  top: 260px;
  right: 87px;
}
.slider2_section h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fff;
}
.slider2_section p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
}
.slider2_section .slider-2-img {
  position: absolute;
  bottom: 41px;
  right: 40px;
}
.slider2_section a {
  display: inline-block;
}

.help_section {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 414px;
}
.help_section .container {
  max-width: 1200px;
  margin: 0 auto;
}
.help_section .help_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 113px;
}
.help_section h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 105%;
  text-align: center;
  color: #fff;
}
.help_section p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: #c0c0c0;
}
.help_section .help_btn {
  font-family: "Poppins", sans-serif;
  padding: 10px 42px;
  background-color: #fff;
  color: #000;
  border-radius: 14px;
  align-items: flex-end;
  text-align: end;
  font-weight: 400;
  transition: 0.3s ease;
  position: relative;
  top: 20px;
  left: 0;
  text-decoration: none;
}
.help_section .help_btn .help_btn:hover {
  background-color: #fff;
  color: #000;
}

footer {
  background-color: #000;
  color: #c0c0c0;
  padding: 60px 20px;
  height: 650px;
}
footer .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
footer .footer-logo {
  margin-top: 100px;
}
footer .footer-logo img {
  margin-bottom: 10px;
}
footer .footer-logo p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  color: #c0c0c0;
}
footer .footer-links {
  display: flex;
  gap: 16px;
  margin-top: 100px;
}
footer .footer-links .links-column .column-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #c0c0c0;
}
footer .footer-links .links-column ul {
  list-style: none;
  padding: 0;
}
footer .footer-links .links-column ul li {
  margin: 6px 0;
}
footer .footer-links .links-column ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  text-decoration: none;
}
footer .footer-links .links-column ul li a:hover {
  text-decoration: underline;
}
footer .footer-newsletter .column-title {
  font-size: 14px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}
footer .footer-newsletter p {
  margin-bottom: 15px;
  font-size: 14px;
}
footer .footer-newsletter .newsletter-form {
  display: flex;
  border: 1px solid #fff;
  border-radius: 8px;
  overflow: hidden;
}
footer .footer-newsletter .newsletter-form input {
  flex: 1;
  padding: 10px;
  border: none;
  background: #fff;
  color: #000;
}
footer .footer-newsletter .newsletter-form button {
  background: #000;
  color: #fff;
  border: none;
  padding: 0 16px;
  cursor: pointer;
}
footer .footer-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #333;
  padding-top: 20px;
  margin-top: 170px;
}
footer .footer-bottom p {
  font-size: 12px;
}
footer .footer-bottom ul {
  display: flex;
  position: absolute;
  top: 50px;
  right: 5px;
  transform: translate(-50%, -50%);
}
footer .footer-bottom ul li {
  list-style: none;
}
footer .footer-bottom ul li a {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #c0c0c0;
  z-index: 1;
}
footer .footer-bottom ul li a img {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
footer .footer-bottom ul li a:hover img {
  color: #fff;
  transform: rotateY(360deg);
}
footer .footer-bottom ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
footer .footer-bottom ul li a:hover:before {
  top: 0;
}
footer .footer-bottom ul li:nth-child(1) a:before {
  background: #3b5999;
  opacity: 0.4;
}
footer .footer-bottom ul li:nth-child(2) a:before {
  background: #55acee;
  opacity: 0.4;
}
footer .footer-bottom ul li:nth-child(3) a:before {
  background: #f90;
  opacity: 0.4;
}

/*# sourceMappingURL=style.css.map */
