* {
  margin: 0;
  padding: 0;
}
main {
  background-color: black;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
background-color: black;
}

  nav {
    ul {
      li {
        position: relative;

        a {
          font-family:"Poppins", sans-serif;
          font-weight: 400;
          font-size: 15px;
          color: #ffffff;
          text-decoration: none;

          &:hover {
            font-family:"Poppins", sans-serif;
          }
        }

        &:after {
          content: "";
          display: block;
          width: 0;
          height: 3px;
          background-color: grey;
          margin-top: 10px;
          transition: 0.4s;
        }

        &:hover::after {
          width: 100%;
        }

        ul {
          li {
            &:after {
              display: none;
              width: auto;
            }

            &:hover::after {
              width: auto;
            }
          }
        }
      }
    }
  }

header .container {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;

nav {
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin-left: 400px;
  }
}

  .logo_header{
    max-width: 100%;

  }
  nav ul li {
    margin-bottom: 35px;
    margin-top: 35px;
  }
}
.hero_section {
  position: relative;
  background-image: url('../img/first-img.jpg');
  background-size: cover;
  height: calc(100vh - 90px);
  width: 100%;
  background-repeat: no-repeat;
  margin-bottom: 120px;

.hero_container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  height: 90vh;

}

  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #c0c0c0;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 54px;
    text-align: center;
    color: #ffffff;
  }
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #c0c0c0;
}
 .hero_icons {
   position: absolute;
   bottom: 41px;
   right: 40px;

 }
  a {
    display: inline-block;
  }

}
.gallery_section {
  background-color: #000000;
  margin-bottom: 100px;
  height: 1338px;

  .container-gallery {
    max-width: 1200px;
    margin: 0 auto;
  }

  .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .text {
    margin-bottom: 40px;
  }

    h4 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 40px;
      text-align: center;
      color: #ffffff;
    }
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #c0c0c0;
    }
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
  }
  }
  .gallery img {
    width: 576px;
    height: 600px;
  }
  .gallery_image {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
   .read_more {
     font-family: "Poppins", sans-serif;
     padding: 10px 42px;
     background-color: #fff;
     color: #000;
     border-radius: 14px;
     align-items: flex-end;
     text-align: end;
     font-weight: 400;
     transition: 0.3s ease;
     position: relative;
     top: 20px;
     left: 0;
     text-decoration: none;

    }

}
  .gallery_first {
    position: relative;
  }
  .gallery_text1 {
    position: absolute;
    bottom: 69px;
    left: 30px;


  }
  .gallery_text2 {
    position: absolute;
    bottom: 55px;
    left: 30px;
  }
  .gallery_text3 {
    position: absolute;
    bottom: 82px;
    left: 30px;
  }
  .gallery_text4 {
    position: absolute;
    bottom: 82px;
    left: 30px;
  }

.header_nav_list li.last_li a {
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background-color: #fff;
  color:  #000;
  border-radius: 14px;
  align-items: center;
  text-align: center;
  font-weight: 400;
  transition: 0.3s ease;
}

.header_nav_list li.last_li a:hover {
  background-color:#ffffff;
  color: #000;

}
.gallery_image {
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #c0c0c0;
  }
}
.sunset_section {
  position: relative;
  background-image: url('../img/sunset.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #ffffff;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #c0c0c0;
  }
  .sunset {
    position: absolute;
    top: 260px;
    right: 20px;


  }
  .slider {
    position: absolute;
    bottom: 41px;
    right: 40px;
  }
  a {
    display: inline-block;
  }
}
.about_section {
  position: relative;
  background-color: black;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 540px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .about {
  padding-top: 173px;
    padding-right: 100px;

  }
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color:#c0c0c0;
  }
  h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 114%;
    color: #ffffff;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #ffffff;
  }
  .check{
    font-family: "Poppins", sans-serif;
    padding: 10px 42px;
    background-color: #fff;
    color: #000;
    border-radius: 14px;
    align-items: flex-end;
    text-align: end;
    font-weight: 400;
    transition: 0.3s ease;
    position: relative;
    top: 20px;
    left: 0;
    text-decoration: none;
  }
  .check:hover {
    background-color:#ffffff;
    color: #000;
  }
  .back-img {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    img {
      width: 100%;
    }

  }
  .about-right {
    position: absolute;
    bottom: 41px;
    right: 40px;
    a{
      display: inline-block;
    }
  }
}
.slider1_section {
  position: relative;
  background-image: url('../img/plant.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  overflow: hidden;
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .slider-1-text {
    position: absolute;
    top: 280px;
    right: 87px;
  }
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #ffffff;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #c0c0c0;
  }
  .slider-1-img {
    position: absolute;
    bottom: 40px;
    right: 40px;
  }
  a {
    display: inline-block;
  }

}
.clients_section {
  position: relative;
  background-color:#000000;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .clients-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 105%;
    text-align: center;
    color: #fff;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: #c0c0c0;
  }
  .clients_logo {
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 109px;
   margin-top: 180px;
  }
}
.slider2_section {
  position: relative;
  background-image: url('../img/Mounts.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .slider-2-text {
    position: absolute;
    top: 260px;
    right: 87px;
  }
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #fff;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #c0c0c0;
  }
  .slider-2-img {
    position: absolute;
    bottom: 41px;
    right: 40px;
  }
  a {
    display: inline-block;
  }
}
.help_section {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 414px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .help_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 113px;
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 105%;
    text-align: center;
    color: #fff;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: #c0c0c0;
  }
  .help_btn {
    font-family: "Poppins", sans-serif;
    padding: 10px 42px;
    background-color: #fff;
    color: #000;
    border-radius: 14px;
    align-items: flex-end;
    text-align: end;
    font-weight: 400;
    transition: 0.3s ease;
    position: relative;
    top: 20px;
    left: 0;
    text-decoration: none;
    .help_btn:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
footer {
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 652px;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .copyright-logo {
    width: 100%;
    p{
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 154%;
      color: #c0c0c0;

    }

  }
  .rights {
   display: flex;
    justify-content: space-around;
    align-items: center;
    .first-li {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #c0c0c0;
    }
    ul li {
      padding: 10px;
    }
    ul li a {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #fff;
    }
  }
.copyright-left {
  display: flex;
  justify-content: flex-start;
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #fff;

  }
}
}

